/*=================== animation07 ====================*/

.animation07 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 2.5vw; 
  height: 2.5vw; 
}

.animation07 .circle { 
  position: absolute; 
  top: -.2vw; 
  left: -.2vw; 
  transform-origin: center; 
  width: 2.5vw; 
  height: 2.5vw; 
  animation: animation07_circle 0.093s ease-in 1.018s forwards;
}

.animation07 .circle_element01 { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 2.5vw; 
  height: 2.5vw; 
  border: 0.2vw solid #a18a66; 
  background-color: #fff;
  border-radius: 50%; 
  animation: animation07_circle_element01 0.093s ease-in 0.93s forwards;
  transform-origin: center; 
  opacity: 0; 
}

.dark .animation07 .circle_element01 {
  background-color: #1a1a1a;
}

@keyframes animation07_circle { 
  0% { transform: scale3d(1, 1, 1); opacity: 1; } 
  100% { transform: scale3d(1.4, 1.4, 1); opacity: 0; } 
}

@keyframes animation07_circle_element01 { 
  0% { transform: scale3d(0, 0, 1); opacity: 1; } 
  100% { transform: scale3d(1, 1, 1); opacity: 1; } 
}

.animation07 .line_wrapper { 
  position: absolute; 
  opacity: 0; 
}

.animation07 .line { 
  display: block; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #a18a66; 
}

/*=========== line01 ===========*/

.animation07 .line_wrapper01 { 
  top: -95%; 
  left: 45%; 
  width: 10%; 
  height: 60%; 
  animation: animation07_line_wrapper01 0.232s ease-in 0.93s forwards;
}

.animation07 .line01 { 
  animation: animation07_line01 0.232s ease-in 0.744s forwards;
}

/*=========== line02 ===========*/

.animation07 .rotate60 { 
  display: block; 
  position: absolute; 
  top: 22.5%; 
  left: 33%; 
  width: 100%; 
  height: 100%; 
  transform: rotate(60deg); 
}

.animation07 .line_wrapper02 { 
  top: -78%; 
  left: 10%; 
  width: 10%; 
  height: 60%; 
  animation: animation07_line_wrapper01 0.232s ease-in 0.93s forwards;
}

.animation07 .line02 { 
  animation: animation07_line01 0.232s ease-in 0.744s forwards;
}

/*=========== line03 ===========*/

.animation07 .rotate120 { 
  display: block; 
  position: absolute; 
  top: 36.5%; 
  left: 0%; 
  width: 100%; 
  height: 100%; 
  transform: rotate(120deg); 
}

.animation07 .line_wrapper03 { 
  top: -78%; 
  left: 10%; 
  width: 10%; 
  height: 60%; 
  animation: animation07_line_wrapper01 0.232s ease-in 0.93s forwards;
}

.animation07 .line03 { 
  animation: animation07_line01 0.232s ease-in 0.744s forwards;
}

/*=========== line04 ===========*/

.animation07 .line_wrapper04 { 
  top: 140%; 
  left: 45%; 
  width: 10%; 
  height: 60%; 
  animation: animation07_line_wrapper02 0.232s ease-in 0.93s forwards;
}

.animation07 .line04 { 
  animation: animation07_line02 0.232s ease-in 0.744s forwards;
}

/*=========== line05 ===========*/

.animation07 .rotate-120 { 
  display: block; 
  position: absolute; 
  top: -15.5%; 
  left: -34%; 
  width: 100%; 
  height: 100%; 
  transform: rotate(-120deg); 
}

.animation07 .line_wrapper05 { 
  top: -78%; 
  left: 10%; 
  width: 10%; 
  height: 60%; 
  animation: animation07_line_wrapper01 0.232s ease-in 0.93s forwards;
}

.animation07 .line05 { 
  animation: animation07_line01 0.232s ease-in 0.744s forwards;
}

/*=========== line06 ===========*/

.animation07 .rotate-60 { 
  display: block; 
  position: absolute; 
  top: -34.5%; 
  left: -3%; 
  width: 100%; 
  height: 100%; 
  transform: rotate(-60deg); 
}

.animation07 .line_wrapper06 { 
  top: -78%; 
  left: 10%; 
  width: 10%; 
  height: 60%; 
  animation: animation07_line_wrapper01 0.232s ease-in 0.93s forwards;
}

.animation07 .line06 { 
  animation: animation07_line01 0.232s ease-in 0.744s forwards;
}

@keyframes animation07_line_wrapper01 { 
  0% { transform-origin: top; transform: scale3d(1, 1, 1); opacity: 1; } 
  100% { transform-origin: top; transform: scale3d(1, 0, 1); opacity: 1; } 
}

@keyframes animation07_line01 { 
  0% { transform-origin: bottom; transform: scale3d(1, 0, 1); opacity: 1; } 
  100% { transform-origin: bottom; transform: scale3d(1, 1, 1); opacity: 1; } 
}

@keyframes animation07_line_wrapper02 { 
  0% { transform-origin: bottom; transform: scale3d(1, 1, 1); opacity: 1; } 
  100% { transform-origin: bottom; transform: scale3d(1, 0, 1); opacity: 1; } 
}

@keyframes animation07_line02 { 
  0% { transform-origin: top; transform: scale3d(1, 0, 1); opacity: 1; } 
  100% { transform: scale3d(1, 1, 1); opacity: 1; } 
}