/*=================== animation02 ====================*/

.animation02 { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
}

.animation02 div { 
  position: absolute; 
  width: 0; 
  height: 0; 
  animation: animation02 0.279s ease-in 0.279s forwards;
  opacity: 0; 
}

.animation02 div:nth-child(1) { 
  top: 0; 
  left: 0; 
  border-top: 100vh solid transparent; 
  border-right: 100vw solid #f2f3df; 
  transform-origin: bottom right; 
}

.dark .animation02 div:nth-child(1) {
  border-right: 100vw solid #1a1a1a;
}

.animation02 div:nth-child(2) { 
  right: 0; 
  bottom: 0; 
  border-bottom: 100vh solid transparent; 
  border-left: 100vw solid #f2f3df; 
  transform-origin: top left; 
}

.dark .animation02 div:nth-child(2) {
  border-left: 100vw solid #1a1a1a;
}

@keyframes animation02 { 
  0% { transform: scale3d(0, 0, 1); opacity: 1; } 
  100% { transform: scale3d(1, 1, 1); opacity: 1; } 
}

@media screen and (max-width: 750px) { 
  @keyframes animation02 { 
    0% { transform: scale3d(0, 0, 1); opacity: 1; } 
    100% { transform: scale3d(1.2, 1.2, 1); opacity: 1; } 
  } 
}