@layer components {
  .shadow-glow-green {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 15px rgba(134, 180, 134, 0.5);
  }

  .dark .shadow-glow-green {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.15), 0 0 15px rgba(134, 180, 134, 0.3);
  }

  .text-slogan-shine {
    background: linear-gradient(90deg, var(--slogan-base-color) 0%, var(--slogan-base-color) 45%, var(--slogan-shine-color) 50%, var(--slogan-base-color) 55%, var(--slogan-base-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 200% auto;
    animation: shine 6.8s linear infinite;
    position: relative;
  }
}

@keyframes shine {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}